#calculator {
    background-color: blue;
    padding: 5px;
    width: 250px;
    margin: 0 auto;
}

#calculatorGridContainer {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 0;
    margin: 0;

    grid-template-areas: 
      "display display display display display"
      "topRow topRow topRow topRow topRow";
    background-color: grey;
    width: 100%;
   

}

#calculatorDisplay {
    background-color: springgreen;
    grid-area: display;
}

button {
    text-align: center;
    padding: 0;
    border: none;
    
}

.topRow {
    grid-area: topRow;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.topRow button {
    width: 50px;
}