#calculator {
    background-color: blue;
    padding: 5px;
    width: 250px;
    margin: 0 auto;
}

/* row 4- 8 col 1-6  */

#calculatorGridContainer {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(2, 25px) repeat(5, 50px);
    grid-column-gap: 0;
    margin: 0;
    grid-template-areas: 
      "eDisplay eDisplay eDisplay eDisplay eDisplay"
      "display display display display display";
    background-color: grey;
    width: 100%; 
    align-items: stretch;

}

#calculatorDisplay {
    background-color: springgreen;
    grid-area: display;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
}

#equationDisplay {
    background-color: springgreen;
    grid-area: eDisplay;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
}

button {
    text-align: center;
    padding: 0;
    border: none;
    
}

.topRow {
    grid-area: topRow;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.topRow button {
    width: 50px;
}

.operator {
    background-color: orange;
}

.brackets {
    background-color: orange;
}

.clear {
    background-color: red;
}

.delete {
    background-color: red;
}

.help {
    background-color: pink;
}

.equals {
    grid-column-start:4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: blue;
}

.help-info {
    display: none;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
}

.selected {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    transition: all 0.1s;
}

div[data-key] {
    text-align: center;
    line-height: 50px;
}

div[data-key-2] {
    text-align: center;
    line-height: 50px;
}